
  <app-sidebar></app-sidebar>
  <main class="container-fluid" style="padding-left: 120px;" >

    <div class="input-group d-flex justify-content-center   box-search" >
      <div class="form-outline  search">
        <mdb-form-control>
        <input  mdbInput type="text" id="form1" class="form-control"     [(ngModel)]="search" (input)="searching()" />
        <label mdbLabel class="form-label" for="form1" >Rechercher un Pokémon </label>
      </mdb-form-control>
      </div>
      <button type="button" class="btn btn-danger btn-search">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <h1>Résultat :</h1>
      <br>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <!-- Spinner Chargement -->
      <div class="spinner-border text-danger" role="status" *ngIf="!charger">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div *ngFor="let p of pokemons">
        <div class="card text-center" style="width: 14rem;">
          <span class="id"> {{p.id}}</span>
          <img src="{{p.image}}" class="card-img-top" alt="...">
          <div class="card-body ">
            <h5 class="card-title">{{p.name}}</h5>

              <span *ngFor="let t of p.apiTypes" >
                <span class=" tagbox  {{t.name}}">
                  <img  height="20px" src="{{t.image}}">
                  <p class=" type ">{{t.name}}</p>
                </span>
               
            </span>
           <br>
            <a (click)="fightPokemon(p)" class="btn btn-danger">Combattre</a>
            <button  style="position: absolute; top: -2px; right: 0px;" class="btn btn-primary" (click)="addPokemon(p)" > <i class="fas fa-plus"></i></button>

            
          </div>
        </div>
      </div>

    </div>
  </main>
